@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

/* Your custom styles here */
body {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #3E445A;
}